# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.opendb
*.db

Debug/*
**/Debug/*
hw0-windows.VC.VC.opendb
**/.vs/*
*.DS_Store
**/glm-0.9.2.7/*
**/glm-0.9.2.7/**/*